<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/app.css" rel="stylesheet">

  <!-- double handlebars means the output is plain text in handlebars -->
  <div class="jumbotron text-center">
    <h2>{{ title }}</h2>
  </div>

  <link rel = "stylesheet" type="text/css" href = "/css/style.css">
</head>
<body>
  <!-- triple handlebars means the output is html text -->
  <!-- we defined this file as main layout in app.js, so hbs will look for body word here -->
  {{{ body }}}
</body>
</html>
