<!-- hbs will always put this content inside {{{ body }}} part -->

{{# if success }}
  <section>
    <div class="row panel panel-success">

      <div class="panel-heading"><h4>Hello, {{ user }}</h4></div>
      <div class="panel-body">
        <form>
          <button type = "submit" class = "common-button" formaction="/market" formmethod="post">Go to Market</button>
          <button type = "submit" class = "common-button" formaction="/register" formmethod="post">Register</button>
        </form>
      </div>

    </div>
  </section>
{{else}}
  {{# if errors}}
    <section class = "errors">
      <ul>
        {{# each errors }}
          <li>{{ this.msg }}</li>
        {{/each}}
      </ul>
    </section>
  {{/if}}
  <div class="row panel panel-default">

      <div class="panel-heading">Log in with your account: </div>
      <div class="panel-body">
        <form>
          <div class = "input">
            <label for = "loginusername" style = "display: block;"> Username: </label>
            <input type = "text" id = "loginusername" name = "loginusername">
          </div>
          <div class = "input">
            <label for = "loginpassword" style = "display: block;"> Password: </label>
            <input type = "password" id = "loginpassword" name = "loginpassword">
          </div>
          <button type = "submit" class = "common-button" formaction="/login" formmethod="post">Sign up</button>
          <button type = "submit" class = "common-button" formaction="/register" formmethod="post">Register</button>
          <button type = "submit" class = "common-button" formaction="/restart-db" formmethod="post">Restart DB</button>
        </form>
      </div>

  </div>


{{/if}}

<div class="row panel panel-info">
  <div class="panel-heading clearfix">
    <div class="panel-title">
      Registered Users
    </div>
  </div>
  <ul id="events" class="collapse list-group"></ul>
  <div class="panel-body">

  <div id="usersRow">
        <!-- ARTICLES LOAD HERE -->
  </div>

  <div id="userTemplate" style="display: none;">
    <div class="row-lg-12">
      <div class="panel panel-default panel-user">
        <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body">
          <strong>Username:</strong> <span class="user-name"></span><br/>
          <strong>Password:</strong> <span class="user-password"></span><br/>
        </div>
        <div class="panel-footer">

        </div>
      </div>
    </div>
  </div>

</div>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/update-users.js"></script>
