<h1>{{ title }}</h1>
{{# if settingup }}
  <h2>Create the super user account:</h2>
{{/if}}
<form>
    <div class = "input">
      <label for = "username" style = "display: block;"> Username: </label>
      <input type = "text" id = "username" name = "username">
    </div>
    <div class = "input">
      <label for = "password" style = "display: block;"> Password: </label>
      <input type = "text" id = "password" name = "password">
    </div>
    <button class = "common-button" type = "submit" formaction="/register/submit-account" formmethod="post">Register</button>
</form>
