<h1>{{ title }}</h1>
<form>
    <div class = "input">
      <label for = "newAddress" style = "display: block;"> Address </label>
      <input type = "text" id = "newAddress" name = "newAddress">
    </div>
    <button class = "common-button" type = "submit" formaction="/register/submit-account" formmethod="post">Register</button>
</form>